HTML {
	MARGIN-BOTTOM: 0px; HEIGHT: 100%
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.3em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND: #f8f8f8; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY.contentpane {
	BACKGROUND: #f8f8f8
}
A:link {
	COLOR: #555; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #555; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #333; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
INPUT.button {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; COLOR: #333; FONT-SIZE: 10px; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid
}
.validate {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; COLOR: #333; FONT-SIZE: 10px; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid
}
.search INPUT.button {
	TEXT-ALIGN: right
}
INPUT.button:hover {
	
}
.validate:hover {
	
}
P {
	TEXT-ALIGN: justify; MARGIN-TOP: 0px; MARGIN-BOTTOM: 5px
}
.inputbox {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #333; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; PADDING-TOP: 2px
}
.inputbox:hover {
	
}
#search {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
#search .search .inputbox {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 106px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/searchbg.jpg) no-repeat center top; HEIGHT: 12px; COLOR: #666; FONT-SIZE: 10px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 2px
}
#search .search .button {
	BORDER-BOTTOM: #dadada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dadada 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/searchbut.jpg) no-repeat center top; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 10px; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid; PADDING-TOP: 0px
}
#page_bg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bodybg.jpg) #fff repeat-x left top; PADDING-TOP: 0px
}
DIV.center {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 902px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV#wrapper {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 902px; BACKGROUND: url(../images/content.jpg) repeat-y center top
}
#top {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 902px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/top.jpg) no-repeat center top; HEIGHT: 52px; PADDING-TOP: 0px
}
#header {
	MARGIN: 0px auto; WIDTH: 902px; BACKGROUND: url(../images/header.jpg) no-repeat center top; HEIGHT: 262px
}
#content {
	PADDING-BOTTOM: 8px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 880px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 8px
}
#content_bottom {
	WIDTH: 902px; BACKGROUND: url(../images/content_bottom.jpg) no-repeat center top; HEIGHT: 16px
}
#logo {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 160px; WIDTH: 742px; PADDING-RIGHT: 0px; PADDING-TOP: 130px
}
#logo A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans-serif; LETTER-SPACING: 1px; COLOR: #666; FONT-SIZE: 20px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#logo A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans-serif; LETTER-SPACING: 1px; COLOR: #666; FONT-SIZE: 20px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#logo A:hover {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans-serif; LETTER-SPACING: 1px; COLOR: #666; FONT-SIZE: 20px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.pill_m {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 902px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu.jpg) no-repeat center top; HEIGHT: 28px; PADDING-TOP: 0px
}
#pillmenu {
	MARGIN: 0px; FLOAT: left
}
#pillmenu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 22px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#pillmenu LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_li.jpg) no-repeat right top; FLOAT: left; HEIGHT: 28px; PADDING-TOP: 0px
}
#pillmenu LI:hover {
	
}
#pillmenu LI A#active_menu-nav {
	
}
#pillmenu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; FONT-FAMILY: Verdana, Tahoma, sans-serif; FLOAT: left; COLOR: #777; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#pillmenu LI A:hover {
	COLOR: #444
}
#leftcolumn {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 0px
}
#rightcolumn {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 0px
}
#centercolumn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
DIV#maincolumn {
	MARGIN: 0px 0px 6px; WIDTH: 666px; FLOAT: left
}
DIV.nopad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
DIV.nopad UL {
	CLEAR: both
}
TD.middle_pad {
	WIDTH: 20px
}
#banner_l {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 902px; HEIGHT: 50px; VERTICAL-ALIGN: top
}
#footer P {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; HEIGHT: 20px; COLOR: #666; PADDING-TOP: 10px
}
DIV.offline {
	POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BACKGROUND: #fffebb; FONT-SIZE: 1.2em; TOP: 0px; PADDING-TOP: 5px; LEFT: 0px
}
DIV.componentheading {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 22px; PADDING-TOP: 8px
}
TABLE.blog {
	
}
H1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #333; FONT-SIZE: 1.3em; VERTICAL-ALIGN: bottom; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
H2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.contentheading {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
TABLE.contentpaneopen H3 {
	MARGIN-TOP: 25px
}
H4 {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #333
}
H3 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.componentheading {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 14px; PADDING-TOP: 0px
}
TABLE.moduletable TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 14px; PADDING-TOP: 0px
}
LEGEND {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.small {
	TEXT-ALIGN: left; COLOR: #555; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.modifydate {
	TEXT-ALIGN: right; HEIGHT: 20px; COLOR: #555; FONT-SIZE: 10px; VERTICAL-ALIGN: bottom; FONT-WEIGHT: normal
}
.createdate {
	HEIGHT: 20px; COLOR: #555; FONT-SIZE: 10px; VERTICAL-ALIGN: top; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
A.readon {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 14px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; FLOAT: right; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 1px
}
A.readon:hover {
	COLOR: #333
}
.invalid {
	BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BORDER-RIGHT-COLOR: #ff0000; BORDER-LEFT-COLOR: #ff0000
}
LABEL.invalid {
	COLOR: #ff0000
}
.ol-foreground {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #333
}
.ol-background {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #333
}
.ol-textfont {
	FONT-FAMILY: Tahoma, Arial, sans-serif; FONT-SIZE: 10px
}
.ol-captionfont {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #f6f6f6; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ol-captionfont A {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.ol-closefont {
	
}
A.mainlevel:link {
	PADDING-LEFT: 5px
}
A.mainlevel:visited {
	PADDING-LEFT: 5px
}
A.mainlevel:hover {
	
}
SPAN.article_separator {
	DISPLAY: block; HEIGHT: 20px
}
.article_column {
	
}
.column_separator {
	
}
TD.buttonheading {
	TEXT-ALIGN: right; WIDTH: 0px
}
.clr {
	CLEAR: both
}
TABLE.blog SPAN.article_separator {
	DISPLAY: block; HEIGHT: 20px
}
TABLE.contenttoc {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
TABLE.contenttoc TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
TD.sectiontableheader {
	BORDER-BOTTOM: #666 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #333; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
TR.sectiontableentry0 TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TR.sectiontableentry1 TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TR.sectiontableentry2 TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TD.sectiontableentry0 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #333; FONT-SIZE: 10px; PADDING-TOP: 3px
}
TD.sectiontableentry1 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #333; FONT-SIZE: 10px; PADDING-TOP: 3px
}
TD.sectiontableentry2 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #333; FONT-SIZE: 10px; PADDING-TOP: 3px
}
.contentpaneopen {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.contentpane {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.contentpane TD {
	TEXT-ALIGN: left
}
TABLE.contentpane TD.contentdescription {
	WIDTH: 100%
}
TABLE.contentpane {
	TEXT-ALIGN: left; MARGIN: 8px; WIDTH: 100%; FLOAT: left
}
TABLE.contentpane UL LI A .category {
	COLOR: #ff8800
}
TABLE.contentpane UL LI {
	COLOR: #333
}
TABLE.contentpaneopen {
	MARGIN: 2px 8px
}
TABLE.contentpaneopen LI {
	MARGIN-BOTTOM: 5px
}
TABLE.contentpaneopen FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: #669933 1px solid; BORDER-RIGHT: 0px
}
TABLE.contentpaneopen H3 {
	MARGIN-TOP: 25px
}
TABLE.contentpaneopen H4 {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #669933
}
.highlight {
	BACKGROUND-COLOR: #fffebb
}
TABLE.user1user2 DIV.moduletable {
	MARGIN-BOTTOM: 0px
}
DIV.moduletable {
	MARGIN-BOTTOM: 25px
}
DIV.module {
	MARGIN-BOTTOM: 25px
}
DIV.module_menu {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.module {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.module_menu DIV {
	
}
DIV.module {
	
}
DIV.module_menu DIV DIV {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 14px; BACKGROUND: url(../images/left_body.jpg) no-repeat center bottom; PADDING-TOP: 0px
}
DIV.module DIV DIV {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 14px; BACKGROUND: url(../images/left_body.jpg) no-repeat center bottom; PADDING-TOP: 0px
}
DIV.module_menu DIV DIV DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: url(../images/left_top.jpg) no-repeat center top; PADDING-TOP: 0px
}
DIV.module DIV DIV DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: url(../images/left_top.jpg) no-repeat center top; PADDING-TOP: 0px
}
DIV.module_menu DIV DIV DIV DIV {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px
}
DIV.module DIV DIV DIV DIV {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px
}
DIV.module DIV DIV DIV FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
DIV.module DIV DIV DIV FORM DIV.module_menu UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DIV.module_menu UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.module_menu UL LI A:link {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 24px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/blue/bullet2.jpg) no-repeat left top; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
DIV.module_menu UL LI A:visited {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 24px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/blue/bullet2.jpg) no-repeat left top; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#leftcolumn DIV.module TABLE {
	
}
#rightcolumn DIV.module TABLE {
	
}
#leftcolumn DIV.module TABLE.poll {
	
}
#leftcolumn DIV.module TABLE.poll TD {
	TEXT-ALIGN: left
}
#leftcolumn H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 37px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND: url(../images/h3.jpg) #f3f3f3 no-repeat center top; HEIGHT: 37px; COLOR: #2286b3; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#rightcolumn H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 37px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND: url(../images/h3.jpg) #f3f3f3 no-repeat center top; HEIGHT: 37px; COLOR: #2286b3; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn .moduletable_menu {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn .moduletable {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn .moduletable_text {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn .c {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#rightcolumn .moduletable_menu {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#rightcolumn .moduletable {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#rightcolumn .moduletable_text {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#rightcolumn .c {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn UL.menu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#rightcolumn UL.menu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#rightcolumn UL.menu LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI:hover {
	
}
#rightcolumn UL.menu LI:hover {
	
}
#leftcolumn UL.menu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#rightcolumn UL.menu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#rightcolumn UL.menu LI A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI A:hover {
	COLOR: #333
}
#rightcolumn UL.menu LI A:hover {
	COLOR: #333
}
#leftcolumn UL.menu LI#current A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#rightcolumn UL.menu LI#current A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#rightcolumn UL.menu LI#current A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/menu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current A:hover {
	
}
#rightcolumn UL.menu LI#current A:hover {
	
}
#leftcolumn UL.menu LI#current UL LI A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: medium none; FONT-WEIGHT: normal; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current UL LI A:link {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: medium none; FONT-WEIGHT: normal; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI UL LI#current A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI UL LI#current A:link {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI UL LI#current A:visited {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI UL LI#current A:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/submenu_row.jpg) no-repeat left center; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#leftcolumn UL.menu LI#current UL LI A:hover {
	COLOR: #333
}
#leftcolumn UL.menu LI UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#rightcolumn UL.menu LI UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#leftcolumn .moduletable UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 6px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#rightcolumn .moduletable UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 6px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#leftcolumn .moduletable UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
#rightcolumn .moduletable UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
TABLE.adminform TEXTAREA {
	WIDTH: 540px; HEIGHT: 400px; COLOR: #000099; FONT-SIZE: 1em
}
FORM#form-login FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
FORM#form-login UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM#form-login UL LI A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #555; FONT-SIZE: 10px; PADDING-TOP: 0px
}
DIV.mosimage {
	MARGIN: 5px
}
DIV.mosimage_caption {
	COLOR: #333; FONT-SIZE: 0.9em
}
DIV.caption {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
DIV.caption IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
DIV.caption P {
	TEXT-ALIGN: center; COLOR: #333; FONT-SIZE: 0.9em
}
TABLE.paramlist {
	MARGIN-TOP: 5px
}
TABLE.paramlist TD.paramlist_key {
	TEXT-ALIGN: left; WIDTH: 128px; HEIGHT: 30px
}
TABLE.paramlist TD.paramlist_value {
	
}
DIV.message {
	BORDER-BOTTOM: #d5d5d5 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d5d5d5 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f9f9f9; MARGIN: 3px 0px 10px; PADDING-LEFT: 20px; WIDTH: auto; PADDING-RIGHT: 20px; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #c30; FONT-SIZE: 14px; BORDER-TOP: #d5d5d5 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #d5d5d5 1px solid; PADDING-TOP: 3px
}
.bannergroup {
	
}
.banneritem {
	
}
.banneritem_text {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 11px; PADDING-TOP: 4px
}
.bannerfooter_text {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 11px; PADDING-TOP: 4px
}
.pagination SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.pagination A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.pollstableborder TD {
	TEXT-ALIGN: left
}
FIELDSET {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 15px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 15px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
TD.key {
	BORDER-BOTTOM: #eee 1px solid; COLOR: #333
}
.tool-tip {
	BORDER-BOTTOM: #d4d5aa 1px solid; BORDER-LEFT: #d4d5aa 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MAX-WIDTH: 200px; BACKGROUND: #ffc; FLOAT: left; BORDER-TOP: #d4d5aa 1px solid; BORDER-RIGHT: #d4d5aa 1px solid; PADDING-TOP: 5px
}
.tool-title {
	PADDING-BOTTOM: 5px; MARGIN: -15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../../system/images/selector-arrow.png) no-repeat; FONT-SIZE: 100%; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
.tool-text {
	MARGIN: 0px; FONT-SIZE: 100%
}
#system-message DD.message UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
#system-message DD.error UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #c00; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
#system-message DD.notice UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #c00; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
#system-message DD {
	TEXT-INDENT: 0px
}
#system-message DD UL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LIST-STYLE-TYPE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #c00; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#system-message {
	MARGIN-TOP: 5px
}
INPUT {
	
}
BUTTON {
	
}
INPUT[type='checkbox'] {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
INPUT[type='radio'] {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A.sgfooter:link {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; TEXT-DECORATION: none
}
A.sgfooter:visited {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; TEXT-DECORATION: none
}
A.sgfooter:hover {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; TEXT-DECORATION: none
}
#sgf {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 100%; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 12px
}
.sgf {
	TEXT-ALIGN: right; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sgf1 {
	TEXT-ALIGN: left; FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 12px
}
A.sglink:link {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.sglink:visited {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.sglink:hover {
	FONT-FAMILY: Tahoma, Arial, sans-serif; COLOR: #555; TEXT-DECORATION: none
}
